body {
    max-width:1200px;
    background-color: antiquewhite;
    gap: 1em;
    padding: 1em;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1em;
    padding: 1em;
    margin-bottom: 1em;
    background-color: black;
}

.topbanner {
    display: flex;
    flex-direction: row;
    background-color: #2c4059;
}

.logo {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    background-color: #ea5455;
}

.nav {
    display: flex;
    flex-grow: 5;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    background-color: #ea5455;
}

.social {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    background-color: #ea5455;
}
.bottombanner {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #f98901;
}
.banner {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 1px;
    background-color: #fed700;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10em;
    padding: 1em;
    background-color: black;
}

section {
    gap: 10px;
    padding: 10px;
    background-color: #2c4059;
}

.content {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;

}

.articles {
    flex: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    background-color: #7f798d;
}

.article {
    gap: 10px;
    padding: 10px;
    background-color: #5f73f2;
}

.navigation {
    grid-column: span 2;  
    background-color: #84bdda;
    padding:5px;
        
}

.publi {
    background-color: #ea5455;
    padding: 10px;
}

.publicidad {
    flex: 1;
    background-color: #ea5455;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.ad {
    background-color: #fed700;
    padding: 10px;
    margin: 10px 0;
}

footer {
    display:flex;
    flex-grow:1;
    padding: 1em;
    background-color: #f3e285;
}

.pie {
    margin-top: 1em;
    padding: 10px;
    background-color: black;
}

@media (max-width: 768px) {
    .topbanner {
        flex-direction: column;
    }

    .content {
        flex-direction: column;
    }

    .articles {
        display:grid;
        grid-template-columns: 1fr;
    }

    .publicidad {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .ad {
        flex: 1;
    }

    .logo, .nav, .social {
        background-color: #d7263d;
    }

    .banner {
        background-color: #ffb400;
    }

    .article {
        background-color: #3a86ff;
    }

    .navigation {
        background-color: #8ecae6;
    }

    footer {
        background-color: #2a2a2a;
    }

    .pie {
        background-color: #ffd166;
        color: black;
    }
}

@media (max-width: 480px) {
  .articles {
    grid-template-columns: 1fr; /* Force 1 column */
  }

  .article {
    background-color: #ffb3c1; /* Optional: differentiate smallest layout */
  }

  .navigation {
    grid-column: span 1; /* Can span 1 on narrow view */
  }

  .publicidad {
    flex-direction: column;
  }

  .ad {
    flex: unset;
  }
}