body {
    max-width:1200px;
    background-color: antiquewhite;
    gap: 1em;
    padding: 1em;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1em;
    gap: 1em;
    margin-bottom: 1em;
    background-color: black;
}

.topbanner {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 1em;
    background-color: #2c4059;
}

.logo {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    gap: 1em;
    padding: 1em;
    background-color: #ea5455;
}

.nav {
    display: flex;
    flex-grow: 5;
    flex-direction: row;
    gap: 1em;
    padding: 1em;
    background-color: #ea5455;
}

.social {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    gap: 1em;
    padding: 1em;
    background-color: #ea5455;
}
.bottombanner {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: #f98901;
}
.banner {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 1em;
    background-color: #fed700;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1em;
    gap: 1em;
    margin-bottom: 1em;
    background-color: black;
}

section {
    gap: 1em;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1em;
    align-items: stretch;
}

.articles {
    flex: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    padding: 1em;
    background-color: #7f798d;
}

.article {
    gap: 1em;
    padding: 1em;
    background-color: #5f73f2;
}

.navigation {
    grid-column: span 2;  
    background-color: #84bdda;
    padding:1em;
        
}
.publicidad {
    display: flex;
    flex-direction: column;
    gap: 1em;   
    padding: 1em; 
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: #ea5455;
}

.ad {
    background-color: #fed700;
    justify-content: top;
    gap:1em;
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
}

footer {
    display:flex;
    flex-grow:1em;
    padding: 1em;
    background-color: #f3e285;
}

.pie {
    margin-top: 1em;
    padding: 1em;
    background-color: #2a2a2a;
}

@media (max-width: 768px) {
    .topbanner {
        flex-direction: column;
    }

    .content {
        grid-template-columns: 1fr;
    }

    .articles {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }

    .publicidad {
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: stretch;
    }

    .ad {
        flex: 1;
    }

    .logo, .nav, .social {
        background-color: #d7263d;
    }

    .banner {
        background-color: #ffb400;
    }

    .article {
        background-color: #3a86ff;
    }

    .navigation {
        background-color: #8ecae6;
    }
}

@media (max-width: 480px) {
    .articles {
        grid-template-columns:1fr;
    }

    .article {
        background-color: #ffb3c1;
    }

    .navigation {
        grid-column: span 1;
    }

    .publicidad {
        flex-direction: column;
    }

    .ad {
        flex: unset;
    }
}
